<h1>All Products</h1>

<ul>
    <% @products.each do |product| %>
        <li>
            <strong> <%= product.name %></strong> 
             <%= product.price %>
             <%= product.weight %>
             <%= product.inventory %>
             <%= product.description %>
             <%= product.category %>
             <%= image_tag product.image.url(:large) %>

        </li>
    <% end %>
</ul>

<div class="col-md-4 btn btn-info"><%= link_to "Add Product", new_product_path %></div>

