<h1>Welcome to Sunglasses For Days</h1><h2><%= current_user.name if current_user%></h2> 

<% 
if @current_user
@url = "http://api.wunderground.com/api/67be5ea9d5581cec/geolookup/conditions/q/#{current_user.zip}.json"
require 'open-uri'

require 'json'
open(@url) do |f|
  json_string = f.read
  parsed_json = JSON.parse(json_string)
  @location = parsed_json['location']['city']
  @temp_f = parsed_json['current_observation']['temp_f']
  @icon = parsed_json['current_observation']['icon_url']
 end

end
%>

<div class="row">
  <div class="col-md-12"><%= @location %></div>

  <div><%= @temp_f %></div>
  <div><%= image_tag "#{@icon}" %></div>
</div>





<div class="row">
  <div class="col-md-12"><h2></h2></div>
        <% @products.each do |product| %>
              <div class="col-md-12"><h3><%= product.name %></h3></div>
              <div class="col-md-12"><% product.price %></div>
              <div class="col-md-12"><% product.description %></div>
              <div class="col-md-12"><%= link_to "#{"View the " + product.name + " Sunglasses"}", product_path(product.name) %></div>
              <div><% link_to "Delete This Product", product_path(product), method: :delete, data: { confirm: "Are you sure you want to delete this product?"} %></div>
              <div class="col-md-12"><%= image_tag product.image.url(:large) %></div>


<% end %>

<br>
	<div class="btn btn-success"><%= link_to "Add Product", new_product_path %></div>

	<div class="btn btn-info"><%= link_to 'Log Out', logout_path, method: :delete %></div>
<br>
<br>


